body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
html { font-family: 'Inter', sans-serif; }

.menu-bar{
    height: 80px;
    width: 100%;
    display: flex;
    
}

.menu {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
   /* padding-left: 1340px;*/
}

.menu p{
   display: inline-block;
   margin-left: 1050px;
   color: #254175;
   font-weight: bold;
   font-size: 15px;
}

.menu a{
    color: white;
    background-color: #254175;
    text-decoration: none;
    box-sizing: border-box;
    border: 3px solid #254175;
    font-size: 25px;
    float: right;
    text-align: center;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    font-weight: var(18px);
    margin-left: 60px;
    margin-top: 5px;
}

.main-1{
    display: flex;
    justify-content: center;
    padding-top: 95px;
}

.box-1{
    width: 17%;
    height: 350px;
    box-sizing: border-box;
    margin-right: 90px;
    background-color: #18E150;
    border-radius: 5px;
}

.box-1 img{
    width: 70%;
    height: 100px;
    border: 3px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 33px;
    margin-top: 35px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.box-1 h4{
    font-size: 25px;
    color: rgb(247, 226, 226);
    margin-left: 30px;
    
}

.box-1 a{
    text-decoration: none;
    font-size: 30px;
    background-color: #254175;
    padding: 0 10px 0 10px;
    color: white;
    margin-left: 30px;
    border-radius: 5px;
    
}

.box-2{
    width: 17%;
    height: 350px;
    box-sizing: border-box;
    margin-right: 90px;
    background-color: #EAAB31;
    border-radius: 5px;

}

.box-2 img{
    width: 70%;
    height: 100px;
    border: 3px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 33px;
    margin-top: 35px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.box-2 h4{
    margin-left: 30px;
    font-size: 25px;
    color: rgb(247, 226, 226);
}

.box-2 a{
    text-decoration: none;
    font-size: 30px;
    background-color: #254175;
    padding: 0 10px 0 10px;
    color: white;
    margin-left: 30px;
    border-radius: 5px;
}

.box-3{
    width: 17%;
    height: 350px;
    box-sizing: border-box;
    background-color: #F20303;
    border-radius: 5px;

}

.box-3 img{
    width: 70%;
    height: 100px;
    border: 3px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 33px;
    margin-top: 35px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.box-3 h4{
    margin-left: 30px;
    font-size: 25px;
    color: rgb(247, 226, 226);
}

.box-3 a{
    text-decoration: none;
    font-size: 30px;
    background-color: #254175;
    padding: 0 10px 0 10px;
    color: white;
    margin-left: 30px;
    border-radius: 5px;
}



.main-2{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.box-4{
    width: 17%;
    height: 350px;
    box-sizing: border-box;
    margin-right: 90px;
    background-color: #254175;
    border-radius: 5px;
    margin-top: 30px;
}

.box-4 img{
    width: 70%;
    height: 100px;
    border: 3px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 33px;
    margin-top: 35px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.box-4 h4{
    margin-left: 30px;
    margin-top: 60px;
    font-size: 25px;
    color: rgb(247, 226, 226);
}

.box-4 a{
    text-decoration: none;
    font-size: 30px;
    background-color: white;
    padding: 0 10px 0 10px;
    color: #254175;
    margin-left: 30px;
    border-radius: 5px;
}

.box-5{
    width: 17%;
    height: 350px;
    box-sizing: border-box;
    margin-right: 90px;
    background-color: #254175;
    border-radius: 5px;
    margin-top: 30px;

}

.box-5 img{
    width: 70%;
    height: 100px;
    border: 3px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 33px;
    margin-top: 35px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.box-5 h4{
    margin-left: 30px;
    margin-top: 60px;
    font-size: 25px;
    color: rgb(247, 226, 226);
}

.box-5 a{
    text-decoration: none;
    font-size: 30px;
    background-color: white;
    padding: 0 10px 0 10px;
    color: #254175;
    margin-left: 30px;
    border-radius: 5px;
}

.box-6{
    width: 17%;
    height: 350px;
    box-sizing: border-box;
    background-color: #254175;
    border-radius: 5px;
    margin-top: 30px;
}

.box-6 img{
    width: 70%;
    height: 100px;
    border: 3px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 33px;
    margin-top: 35px;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.box-6 h4{
    margin-left: 30px;
    margin-top: 60px;
    font-size: 25px;
    color: rgb(247, 226, 226);
}

.box-6 a{
    text-decoration: none;
    font-size: 30px;
    background-color: white;
    padding: 0 10px 0 10px;
    color: #254175;
    margin-left: 30px;
    border-radius: 5px;
}