*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #254175;
    transition: 0.5s;
    overflow: hidden;
}
.navigation h2{
    color: #fff;
}
.navigation a{
    position: relative;
    
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #254175;
    background-color: #fff;
    border:#254175 3px solid;
    border-radius: 5px;
    text-align: center;
}
.title{
    width: 400px;
    height: 50px;
    text-align: center;
}
.a{
    padding: 10px 0 10px 0;
}


.logo{
    position: absolute;
    width: calc(100% -300px);
    left: 300px;
    min-height: 100vh;
    
}