
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
}
.content-left{
    padding-bottom: 50px;
}

.content-right{
    width: 63%;
    padding-top: 67px;
}


.a {
    display: block;
    font-size: 1.67em;
    font-weight: bold;
    text-align: center;
    
}

.b{
    text-align: center;
    opacity: 0.7;
}
.icon2{
    text-align: center;
    padding: 0 10px 20px 0;
    font-size: 30px;
}
.img-fluid {
    max-width: 95%;
    height: auto;
}
.content-right form input, .content-right form select {
    width: 45%;
    padding: 6px 9px;
    font-size: 16px;
    margin: 16px;
    background: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 1px rgb(212 212 212);
    height: 37px;
    
}
.form-container{
    text-align: center;
    
}
.content-right form .form-btn{
    width: 53%;
    height: 55px;
    padding: 10px 15px;
    font-size: 17px;
    margin: 46px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 1px rgb(212 212 212);
    background: #254175;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.hesap{
    padding-left: 0px;
    padding-bottom: 30px;
}



