<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adminPanel.css">
    <title>Admin Panel</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <br><br><br><br><h2> &ensp;&ensp;&ensp; ADMİN YÖNETİM <br> &ensp;&ensp;&ensp; PANELİ</h2>
            <br><br><br>
            <div class="a">
                <a href=" #">
                    <span class="title"><h3>Soru Ekle</h3></span>
                </a>

            </div>

            <div class="a">
                <a href=" #">
                    <span class="title"><h3>Soru Ekle</h3></span>
                </a>

            </div>

            <div class="a">
                <a href=" #">
                    <span class="title"><h3>Soru Ekle</h3></span>
                </a>

            </div>

            <div class="a">
                <a href=" #">
                    <span class="title"><h3>Soru Ekle</h3></span>
                </a>
                 
            </div>

            <div class="a">
                <a href=" #">
                    <span class="title"><h3>Soru Ekle</h3></span>
                </a>

            </div>

            <div class="a">
                <a href=" #">
                    <span class="title"><h3>Soru Ekle</h3></span>
                </a>
            </div>
                    
                   
        </div>
    </div>
    <div class="logo">
        <img src="resimler/answer logo.png" alt="">
    </div>
    
</body>
</html>