<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="anasayfa.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <img src="resimler/answer logo.png" alt="">
        </nav>
    </header>

    <main>
        <div class="section-1">
            <h1>ANSWER-Y <br> SORU DÜNYASINA <br> HOŞGELDİNİZ</h1>
            <div class="box">
                <p>&emsp;&emsp;&emsp; Bu dünyadaki sorulara erişmek için</p>
                <div class="buttons">
                    <a href="login.html" >Giriş</a>  
                    <a href="register.html">Kayıt</a>
                </div>
            </div>
        </div>
        <div class="section-2">
            <img src="resimler/Group 1.png" height="650"  alt="">
        </div>
        
            
    </main>
    
</body>
</html>