<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="kullaniciAnasayfa.css">
</head>
<body>
    <div class="menu-bar">
        <div class="logo">
            <img src="resimler/logo 1.png" alt="">
        </div>
        <div class="menu">
            <p>Hello welcome Mehmet</p>
            <a href="#"> Çıkış </a>
        </div>

    </div>

    <div class="main-1">
        <div class="box-1">
            <img src="resimler/kadın.png" alt="">
            <h4>Ders:Fen <br> Bilimleri <br>Seviye:1.5/5</h4>  
            <a href="#">Go</a> 
        </div>
        <div class="box-2">
            <img src="resimler/kadın.png" alt="">
            <h4> Ders:Fen <br> Bilimleri <br>Seviye:3/5</h4>  
            <a href="#">Go</a> 
        </div>
        <div class="box-3">
            <img src="resimler/kadın.png" alt="">
            <h4>Ders:Fen <br> Bilimleri <br>Seviye:5/5</h4>  
            <a href="#">Go</a> 
        </div> 
    </div>
    <div class="main-2">
        <div class="box-4">
            <img src="resimler/kadın.png" alt="">
            <h4>Ders:Fen <br>Konu:1.Unite</h4>  
            <a href="#">Go</a> 
        </div>
        <div class="box-5">
            <img src="resimler/kadın.png" alt="">
            <h4>Ders:Fen <br>Konu:1.Unite</h4>  
            <a href="#">Go</a> 
        </div>
        <div class="box-6">
            <img src="resimler/kadın.png" alt="">
            <h4>Ders:Fen <br>Konu:1.Unite</h4>  
            <a href="#">Go</a> 
        </div>
    </div>
    
</body>
</html>