<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <img src="resimler/logo 1.png" alt="">
    </div>
    <div class="content-sol">
        <img src="resimler/kadın.png" height="700" alt="">
        <div class="shadow"></div>
        <div class="content-sag">
            <div class="form">
            <form action method="post">
                <p class="hesap">Hesabın var mı?
                    <a href="login.html">Giriş Yap</a>
                </p>
             
          

            </form>
        </div>
        </div>
    </div>
    
</body>
</html>