{% load static%}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'soruTest.css' %}">
    <title>Sorular</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">

    

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

    <!-- Favicons -->

<meta name="theme-color" content="#712cf9">


 

    
  </head>
<body >
  
    
    
    <div class="container ">
      <br><br><br><br><br><br>
        <div class="row">
        
          <div class="col-2">
            
          
           
          </div>
          {% for quest in question %}
          <div class="col-8 shadow-lg p-3 mb-5 bg-body rounded">
            <p></p>
           
          
            
            <br>
            <div class="card-body">
              
              <div class="row">
                <div class="col-2 d-flex justify-content-end"> <button type="button" class="btn btn-info">{{quest.title}}</button></div>
                <div class="col-2 d-flex justify-content-start"> <button type="button" class="btn btn-info">Soru {{quest.id}}</button></div>
                <div class="col-4 d-flex justify-content-center"> <a href="#" role="button" class="btn btn-success">Anasayfa</a></div>
                <div class="col-4 d-flex justify-content-center"> <button type="button" class="btn btn-danger">Testi Bitir</button></div>
              
            </div>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                     {{message}}
                </div>
            {% endfor %}
        {% endif %}           
            <br>
            
            <br>
            <div class=" d-flex justify-content-center"><div>{{quest.description |safe}}</div></div></div><br>
            
            <form action="{% url 'question' test_detail.test_slug  quest.question_slug  %}" method="POST">
           
              {% csrf_token %}
              
              {{form.user_answer}}
                
                 
                
              <div class="d-grid gap-2 col-4   mx-auto">
                <button class="btn btn-dark" type="submit">Kontrol</button>
              
            </div> 
            </form>
        
            
            
         
          </div>
         
          </div>
          {%endfor%}
          
        </div>
        
</div>
      
</body>