{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'testGosterme.css' %}">
</head>
<body>
    <nav>
       <div class ="menu-bar">
        <header> <a href="{% url 'welcome' %}"><img src='{% static "resimler/answer.svg" %}'  class="img-fluid" alt="logo" width="85px" style="margin-left:25px;"></a> 
        {% if user.is_authenticated %}
        <p class="nav-p">Hello welcome {{user.username}}</p>
       <a class="nav-a" href="{% url 'logout' %}"> Çıkış </a></div>
       {% else %}
       <p id="nav-p">Öğrenci girişi için tıklayınız</p>
       <a id="nav-a" href="{% url 'login' %}"> login </a></div>
       {% endif %}
       
   
    </header></nav>
   
    
    <div class="main-1">
       
            
    

    
    <div class="box-3" class="img-fluid">
            <img src="{{ test_detail.image.url }}"   alt="{{test_detail.test_slug}}">
            <h4>{{test_detail.title}} <br> Bilimleri <br></h4>  
            <h4><br>Soru sayisi<br>{{test_detail.soruSayisi}}  <br></h4>
            <a href="{% url 'questions' test_detail.test_slug %}">Go</a> 
        </div> 
 
    </div>
    
 
    
</body>
</html>